<div class="container">
  <div class="row text-center justify-content-center">
  <h1 class="col-12 h3 mb-3 font-weight-normal"><i class="fa fa-key" aria-hidden="true"></i>ログイン</h1>
    <div class="signin col-md-6 col-md-offset-3">
      <%= form_for :session, url: login_path do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.email_field :email ,{ placeholder: "メールアドレス", class: "form-control mb-2" } %>
  
        <%= f.password_field :password ,{ placeholder: "パスワード", class: "form-control mb-2" }%>
  
        <%= f.check_box :remember_me , class: "checkbox mb-3" %>
        <%= f.label :remember_me, "ログイン状態を保存"%>
        <%= f.submit "ログイン", class: "btn btn-purple-moon btn-lg btn-rounded" %>
      <% end %>
      
      <div class="row">
        <div class="col-6">
          <div class="card my-5">
            <div class="card-body">
              <p class="card-text">ユーザーを作成済みで、メールアドレスの確認がまだの方</p>
              <%= link_to '確認メールの再送', resend_email_new_path, class: "btn btn-sm btn-green-moon btn-rounded" %>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card my-5">
            <div class="card-body">
              <p class="card-text">ユーザーの作成がまだの方</p>
              <%= link_to 'アカウント作成', signup_path, class: "btn btn-sm btn-green-moon btn-rounded" %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
