
<!--<div class="modal" id="userModal-#{post.user.id}" tabindex="-1" role="dialog" aria-labelledby="userModal-#{post.user.id}Label" aria-hidden="true">-->
<!--<div class="modal-dialog modal-dialog-centered" role="document">-->
<!--<div class="modal-content">-->
<!--  <% if current_user? post.user %>-->
<!--    <%= render 'posts/time_form' %>-->
<!--    <%= link_to edit_user_path(post.user), { class: "nav-link p-2 mr-4 text-dark" } do %>-->
<!--    <i class="fas fa-edit fa-sm"></i>-->
<!--    <% end %>-->
<!--  <% end %>-->
<!--  <div class="modal-header  d-block mx-auto">-->
<!--    <h4>-->
<!--      <%= image_tag post.user.image_name.thumb.url , class: "img-thumbnail rounded-circle d-block mx-auto" ,id: "profile-image"%>-->
<!--      <div class="mt-3 text-center"><%= post.user.name %></div>-->
<!--    </h4>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <div class="mx-3">-->
      
<!--    </div>-->
<!--    <div style="white-space:pre-wrap" class="mx-3">-->
<!--    <%= post.user.profile%>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <%= render 'layouts/status' %>-->
<!--    <%= link_to "投稿#{post.user.posts.count if post.user.posts.any? }", post.user, class: "btn btn-outline-primary btn-sm" %> -->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->