<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <section class="user_info">
        <%= render 'users/user' %>
      </section>
      <% if current_user?(@user) %>
        <section class="py-5 text-right">
          <%= render 'posts/post_form' %>
        </section>
      <% end %>
    </div>
    <div class="col-12 col-md-8">
      <% if @user.posts.any? %>
      <%= render 'posts/serch_form' if @q %>
        <ol class="posts pl-0">
          <%= render @posts %>
        </ol>
        <%= paginate @posts %>
      <% end %>
    </div>
  </div>
</div>