<div class="container">
  <div class="row">
  <aside class="col-md-4">
      <section class="user_info">
        <%= render 'users/user_info' %>
      </section>
      <section class="py-5 text-right">
        <%= link_to '投稿画面を拡大', new_post_path, class: "btn btn-sm btn-purple-moon btn-rounded " %>
        <%= render 'posts/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @user.posts.any? %>
        <h3>投稿数(<%= @user.posts.count %>)</h3>
        <ol>
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    </div>
  </div>
</div>