<% @post = Post.new unless @post %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= form_for(@post) do |f| %>
      
        <%= render 'layouts/error_messages', model: f.object %>
        
        <%= f.button type: 'submit' , style: 'border-style: none;', name: "form_expansion" ,class: "expansion bg-light float-right" do %>
          <i class="fa fa-expand" aria-hidden="true"></i>
        <% end %>
        
        <%= f.text_area :title ,{ placeholder: "タイトル(50文字)", class: "form-control mb-2 title" } %>
  
        <%= f.text_area :content ,{ placeholder: "本文", class: "form-control mb-2 content", rows: "10" } %>
        <span class="text-center"><%= f.file_field :picture , id: "picture" %></span>
    </div>
        <div class="col-md-6">
          <%= f.submit "投稿", class: "btn btn-purple-moon btn-rounded mt-3 post_request mx-auto d-block" %>
        </div>
      <% end %>
  </div>
</div>