<% hour = Time.zone.now.hour %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= form_for(@post) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        
        <%= f.button type: 'submit' , style: 'border-style: none;', name: "form_reduction" ,class: "reduction bg-light float-right" do %>
          <i class="fa fa-compress" aria-hidden="true"></i>
        <% end %>

        <%= f.text_area :title ,{ placeholder: "タイトル(50文字以内で入力してください)", class: "form-control mb-2 title" } %>
  
        <%= f.text_area :content ,{ placeholder: "本文を入力してください。", class: "form-control mb-2 content", rows: "12" } %>
        
        <div class="row">
          <div class="col-md-6 text-center">開始時間<%= f.datetime_select :started_at ,{default: Date.today + (hour-1).hour} %></div>
          <div class="col-md-6 text-center">終了時間<%= f.datetime_select :ended_at ,{default: Date.today + hour.hour} %></div>
        </div>
        <span class="picture"><%= f.file_field :picture %></span>
      </div>
        <div>
          <%= f.submit "投稿", class: "btn btn-purple-moon btn-lg btn-rounded text-center post_request mx-auto d-block" %>
        </div>
      <% end %>
  </div>
</div>