<footer class="pt-5">
  <div class="container text-center">
    <nav class="nav justify-content-center mb-3">
      <%= link_to "Top", root_path , class: "nav-link text-dark" %>
      <%= link_to "Users", users_path , class: "nav-link text-dark" %>
      <%= link_to "Posts", "#" , class: "nav-link text-dark" %>
      <%= link_to "Contact", "#" , class: "nav-link text-dark" %>
      <%= link_to "Help", help_path , class: "nav-link text-dark" %>
    </nav>
    <p><small class="text-dark">Copy right ©2020 Yudai Miki</small></p>
  </div>
</footer>