<%= link_to root_path, { class: "my-0 mr-md-auto font-weight-normal text-dark"} do %>
  <%= image_tag "logo.png" , { class: "img-fluid tsumiage"} %>
<% end %>
<nav class="nav my-2 my-md-0 mr-md-3">
  <%= link_to "Users", "#", { class: "nav-link p-2 text-dark" } %>
  <%= link_to "Posts", "#" , { class: "nav-link p-2 text-dark" } %>
  <strong><%= link_to "Log in", login_path , { class: "nav-link p-2 text-dark" } %></strong>
  <%= link_to "Help", help_path , { class: "nav-link p-2 text-dark" } %>
  <%= link_to "Sing up", signup_path, { class: "nav-link btn btn-pink-moon btn-rounded text-white" } %>
</nav>