<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <%= link_to root_path, { class: "my-0 mr-md-auto font-weight-normal text-dark"} do %>
    <%= image_tag "logo.png" , { class: "img-fluid tsumiage"} %>
  <% end %>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to "Home", root_path, { class: "p-2 text-dark" } %>
    <%= link_to "Users", "#", { class: "p-2 text-dark" } %>
    <%= link_to "Posts", "#" , { class: "p-2 text-dark" } %>
    <%= link_to "Profile", "#" , { class: "p-2 text-dark" } %>
    <%= link_to "Help", help_path , { class: "p-2 text-dark" } %>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>