<%= link_to root_path, { class: "my-0 mr-md-auto font-weight-normal text-dark"} do %>
  <%= image_tag "logo.png" , { class: "img-fluid tsumiage"} %>
<% end %>
<nav class="nav my-2 my-md-0 mr-md-3">
  <%= link_to "Users", users_path, { class: "nav-link p-2 text-dark" } %>
  <%= link_to "Posts", "#" , { class: "nav-link p-2 text-dark" } %>
  <div class="dropdown">
    <button type="button" class="btn btn-dark-blue dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      My Account
    </button>
    <div class="dropdown-menu">
      <%= link_to "プロフィール", user_path(current_user) , class: "dropdown-item" %>
      <%= link_to "編集", edit_user_path(current_user) , class: "dropdown-item"  %>
      <%= link_to "ログアウト", logout_path , method: :delete , class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "Help", help_path , class: "dropdown-item" %>
    </div>
  </div>
</nav>