<%= link_to root_path, { class: "my-0 mr-md-auto font-weight-normal text-dark"} do %>
  <%= image_tag "logo.png" , { class: "img-fluid tsumiage"} %>
<% end %>
<nav class="nav my-2 my-md-0 mr-md-3">
  <%= link_to users_path, { class: "nav-link p-2 mr-2 text-dark" } do %>
    <i class="fa fa-users fa-sm" aria-hidden="true"></i>
  <% end %>
  <%= link_to index_posts_path , { class: "nav-link p-2 mr-2 text-dark" } do %>
    <i class="fas fa-comments" aria-hidden="true"></i>
  <% end %>
  <%= link_to login_path , { class: "nav-link p-2 text-dark login-button" } do %>
    <i class="fa fa-key fa-sm" aria-hidden="true">ログイン</i>
  <% end %>
  <%= link_to help_path , { class: "nav-link p-2 mr-4 text-dark" } do %>
    <i class="fa fa-question fa-sm" aria-hidden="true"></i>
  <% end %>
  <%= link_to "Sing up", signup_path, { class: "nav-link btn btn-sm btn-pink-moon btn-rounded text-white signup-button" } %>
</nav>